body {

	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #211f1a;

	font-size: 10em;

}


.grandDiv { /* Grand carré qui contient les 9 petits carrés */

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	width: 90%;
	
	box-sizing: border-box;

}

.row { /* Chaque ligne contient 3 petits carrés */

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	width: 100%;
	margin: auto;

	box-sizing: border-box;

}


.box { /* Tous les petits carrés */

/*	width: 33.33%;
	padding-top: 33.33%;*/

	margin: auto;

}

#box1 {

	color: blue;
	background-color: red;

}

#box1:hover {

	color: red;
	background-color: blue;

}

#box2 {

	color: yellow;
	background-color: blue;

}

#box2:hover {

	color: blue;
	background-color: yellow;

}


