body {

	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #211f1a;

	font-size: 10em;

	display: flex;
	justify-content: center;
	align-items: center;

}


.grandDiv { /* Grand carré qui contient les 9 petits carrés */

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	width: ;

	box-sizing: border-box;

}

.row { /* Chaque ligne contient 3 petits carrés */

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	width: 100%;

}

#box1 {

	color: blue;
	background-color: red;

}

#box1:hover {

	color: red;
	background-color: blue;

}

#box2 {

	color: yellow;
	background-color: blue;

}

#box2:hover {

	color: blue;
	background-color: yellow;

}

#box3 {

	color: orange;
	background-color: pink;

}

#box3:hover {

	color: pink;
	background-color: orange;

}

#box4 {

	color: LemonChiffon;
	background-color: green;

}

#box4:hover {

	color: green;
	background-color: LemonChiffon;

}

#box5 {

	color: white;
	background-color: Khaki;

}

#box5:hover {

	color: Khaki;
	background-color: white;

}

#box6 {

	color: MediumVioletRed;
	background-color: OrangeRed;

}

#box6:hover {

	color: OrangeRed;
	background-color: MediumVioletRed;

}


#box7 {

	color: green;
	background-color: pink;

}

#box7:hover {

	color: pink;
	background-color: green;

}


#box8 {

	color: pink;
	background-color: blue;

}

#box8:hover {

	color: blue;
	background-color: pink;

}


#box9 {

	color: green;
	background-color: orange;

}

#box9:hover {

	color: orange;
	background-color: green;

}

